@using LylinkBackend_API.Models
@model CategoryPage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.Description;
    ViewData["Keywords"] = Model.Keywords;
    ViewData["PageName"] = Model.PageName;
    ViewData["ParentCategories"] = Model.ParentCategories;
}

@section Body
{
    <main>
        @Html.Raw(Model.Body)
        
        @if (Model.SubCategories.Any())
        {
            <h3>Sub-categories</h3>
            <ul>
                @foreach (var postCategory in Model.SubCategories)
                {
                    <li>
                        <a href="@postCategory.Id">@postCategory.Name</a>
                    </li>
                }
            </ul>
        }

        @if (Model.Posts.Any())
        {
            <h3>Posts</h3>
            <ul>
                @foreach (var posts in Model.Posts)
                {
                    <li>
                        <a href="@posts.Id">@posts.Name</a>
                    </li>
                }
            </ul>
        }
    </main>
}