@using LylinkBackend_API.Models
@using LylinkBackend_DatabaseAccessLayer.BusinessModels
@using Microsoft.Extensions.Options
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@inject IOptions<AssetsOriginOptions> AssetsOriginOptions;

<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="@($"{AssetsOriginOptions.Value.AssetsEndpointHttps}")/js/adblocker_popup.js"></script>

        <title>@(ViewData["Title"]?.ToString() ?? string.Empty)</title>

        <link id="siteStyle" rel="stylesheet" href="@($"{AssetsOriginOptions.Value.AssetsEndpointHttps}")/css/site_style.css" onerror="showAdblockPopup()" asp-append-version="true" />
        <link id="inputStyle" rel="stylesheet" href="@($"{AssetsOriginOptions.Value.AssetsEndpointHttps}")/css/input_style.css" onerror="showAdblockPopup()" asp-append-version="true" />

        <link id="colorStyle" rel="stylesheet" href="@($"{AssetsOriginOptions.Value.AssetsEndpointHttps}")/css/color.css" onerror="showAdblockPopup()" asp-append-version="true" />
        <link id="colorTransitionStyle" rel="stylesheet" href="@($"{AssetsOriginOptions.Value.AssetsEndpointHttps}")/css/color_transition_style.css" onerror="showAdblockPopup()" defer disabled asp-append-version="true" />

        <link id="tabsStyle" rel="stylesheet" href="@($"{AssetsOriginOptions.Value.AssetsEndpointHttps}")/css/tabs_style.css" onerror="showAdblockPopup()" asp-append-version="true" />

        <link id="icon" rel="icon" type="image/x-icon" href="@($"{AssetsOriginOptions.Value.AssetsEndpointHttps}")/css/lylink_icon.ico" onerror="showAdblockPopup()" asp-append-version="true" />
        
        <script src="@($"{AssetsOriginOptions.Value.AssetsEndpointHttps}")/js/color_slider.js" defer ></script>
        <script src="@($"{AssetsOriginOptions.Value.AssetsEndpointHttps}")/js/tabs.js" defer ></script>

        <meta charset="UTF-8" />
        <meta name="keywords" content="@(ViewData["Keywords"]?.ToString() ?? string.Empty)" />
        <meta name="description" content="@(ViewData["Description"]?.ToString() ?? string.Empty)" />
        <meta name="author" content="Lylink">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        @RenderSection("ExtraMetadata", required: false)
    </head>
    <body>
        <div id="adblock-background"></div>
        <div id="adblock-popup">
            <p>Hey, it looks like a resource failed to load. If you have an ad-blocker, please turn it off.</p>
            <button onclick="closePopup()">Close</button>
        </div>
        <div id="page-container">
            <div id="siteColorToggle">
                <img 
                    id="darkMoon"
                    src="@($"{AssetsOriginOptions.Value.AssetsEndpointHttps}")/images/DarkMode.svg"
                    alt="Dark Mode" />
                <img
                     id="lightSun"
                     src="@($"{AssetsOriginOptions.Value.AssetsEndpointHttps}")/images/LightMode.svg"
                     alt="Light Mode" />
            </div>
            <header>
                <div class="breadcrumb">
                    <ul>
                        @{
                            IEnumerable<PageLink> parentCategories = (IEnumerable<PageLink>?)ViewData["ParentCategories"] ?? Array.Empty<PageLink>();
                            
                            foreach (PageLink parentCategory in parentCategories)
                            {
                                <li><a href="@parentCategory.Slug" title="@parentCategory.Description">@parentCategory.Name.ToLower()</a></li>
                            }
                        }
                    </ul>
                </div>
                @{
                    string pageName = ViewData["PageName"]?.ToString() ?? string.Empty;

                    <h1 id="website-header">
                        @pageName
                    </h1>
                }

                @RenderSection("ExtraHeader", required: false)
            </header>
            <div id="content-wrap">
                <div class="container">
                    @RenderSection("Body")
                </div>
            </div>
            <footer>
                <p><a href="/privacy">Privacy Policy</a> - Copyright 2025, All Rights Reserved</p>
            </footer>
        </div>
    </body>
</html>
