@using LylinkBackend_API.Models
@using LylinkBackend_DatabaseAccessLayer.BusinessModels;
@using System.Text.RegularExpressions
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Categorizer

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Categorizer";
    ViewData["Description"] = "Lylink - Categorizer";
    ViewData["Keywords"] = "lylink, management, categorizer";
    ViewData["PageName"] = "Categorizer";
    ViewData["ParentCategories"] = new KeyValuePair<string, string>[] { KeyValuePair.Create("/", "Index"), KeyValuePair.Create("management", "management") };
}

@section ExtraMetadata
{
    <link id="tableStyle" rel="stylesheet" href="css/table_style.css" onerror="showAdblockPopup()"  asp-append-version="true"/>
    <link id="maintenanceStyle" rel="stylesheet" href="css/maintenance_style.css" onerror="showAdblockPopup()"  asp-append-version="true"/>

    <script src="js/medium/medium-editor.min.js"></script>
    <script src="js/medium/medium-editor-tables.min.js"></script>
    <script src="js/beautify/beautify.js"></script>
    <link rel="stylesheet" href="css/medium/medium-editor.min.css" asp-append-version="true">
    <link rel="stylesheet" href="css/medium/medium-editor-tables.min.css" asp-append-version="true">
    <link rel="stylesheet" href="css/medium/themes/default.min.css" asp-append-version="true">

    <script src="js/categorizer.js" defer></script>
}

@section Body
{
    <div class="tab-container">
        <main>
            <div class="tab-buttons">
                <button class="tab-button" onclick="showHtmlView()">HTML View</button>
                <button class="tab-button" onclick="showRenderedView()">Rendered View</button>
            </div>
            <div width="100%"><pre width="100%" id="html" class="tab-content" contenteditable="true" style="display: block;"></pre></div>
            <div id="rendered" class="tab-content" style="display: none;" contenteditable="true" data-placeholder=""></div>
        </main>
        <aside>
            <form style="display: inline-block">
                <label>
                    Categories
                    <select onchange="getSlugBody(this)">
                        <option value="none">Select a category</option>
                        @foreach (KeyValuePair<string, string> categoryLink in Model.CategoryLinks) {
                            <option value="@categoryLink.Key">@categoryLink.Value</option>
                        }
                    </select>
                </label>
            </form>
            <form action="/saveCategory" method="post" style="display: inline-block">
                <label>
                    Title
                    <input type="text" id="title" name="Title" placeholder="Title" required />
                </label>

                <label>
                    Description
                    <input type="text" id="description" name="Description" placeholder="Description" required />
                </label>

                <label>
                    Keywords
                    <input type="text" id="keywords" name="Keywords" placeholder="Keywords" required />
                </label>

                <label>
                    Slug
                    <input type="text" id="slug" name="Slug" placeholder="Slug" required />
                </label>

                <label>
                    Parent Category
                    <select id="parentCategoryBox" name="ParentId" required>
                        <option value="">Select a category</option>
                        <option value="6">Index</option>
                        @{
                            foreach (KeyValuePair<string, string> parentCategoryLink in Model.CategoryLinks)
                            {
                                <option value="@parentCategoryLink.Key">@parentCategoryLink.Value</option>
                            }
                        }
                    </select>
                </label>

                <label>
                    Name
                    <input type="text" id="name" name="Name" placeholder="Name" required />
                </label>

                <label>
                    Post sorting method
                    <select id="sortingMethods" name="PostSortingMethod">
                        @foreach (PostSortingMethod sortingMethod in Enum.GetValues(typeof(PostSortingMethod)))
                        {
                            string sortingMethodName = Regex.Replace(sortingMethod.ToString(), @"([A-Z])", " $1").Trim();
                            int sortingMethodId = (int)sortingMethod;

                            <option value="@sortingMethodId">@sortingMethodName</option>
                        }
                    </select>
                </label>

                <input type="hidden" id="body" name="Body" />
                <input type="hidden" id="id" name="Id" />

                <button type="submit">Save Draft</button>
            </form>
        </aside>
    </div>
}