@using LylinkBackend_API.Models
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model Publisher

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Publisher";
    ViewData["Description"] = "Lylink - Publisher";
    ViewData["Keywords"] = "lylink, management, publisher";
    ViewData["PageName"] = "Publisher";
    ViewData["ParentCategories"] = new PageLink[] { new PageLink() { Name = "Index", Id = "/" }, new PageLink { Name = "Management", Id = "management" } };
}

@section ExtraMetadata
{
    <link id="tableStyle" rel="stylesheet" href="css/table_style.css" onerror="showAdblockPopup()"  asp-append-version="true"/>
    <link id="maintenanceStyle" rel="stylesheet" href="css/maintenance_style.css" onerror="showAdblockPopup()"  asp-append-version="true"/>

    <script src="js/medium/medium-editor.min.js"></script>
    <script src="js/medium/medium-editor-tables.min.js"></script>
    <script src="js/beautify/beautify.js"></script>
    <link rel="stylesheet" href="css/medium/medium-editor.min.css" asp-append-version="true">
    <link rel="stylesheet" href="css/medium/medium-editor-tables.min.css" asp-append-version="true">
    <link rel="stylesheet" href="css/medium/themes/default.min.css" asp-append-version="true">
    
    <script src="js/publisher.js" defer></script>
}

@section Body
{
    <div class="tab-container">
        <main>
            <div class="tab-buttons">
                <button class="tab-button" onclick="showHtmlView()">HTML View</button>
                <button class="tab-button" onclick="showRenderedView()">Rendered View</button>
            </div>
            <div width="100%"><pre width="100%" id="html" class="tab-content" contenteditable="true" style="display: block;"></pre></div>
            <div id="rendered" class="tab-content" style="display: none;" contenteditable="true" data-placeholder=""></div>
        </main>
        <aside>
            <form style="display: inline-block">
                <label>
                    Posts
                    <select onchange="getSlugBody(this)">
                        <option selected value="">Select a post</option>
                        @foreach (KeyValuePair<string, IEnumerable<PageLink>> category in Model.CategoryPosts)
                        {
                            <optgroup label="@category.Key">
                                @foreach (PageLink post in category.Value)
                                {
                                    <option value="@post.Id">@post.Name</option>
                                }
                            </optgroup>
                        }
                    </select>
                </label>
            </form>
            <form action="/savePost" method="post" style="display: inline-block">
                <label>
                    Title
                    <input type="text" id="title" name="Title" placeholder="Title" required />
                </label>

                <label>
                    Description
                    <input type="text" id="description" name="Description" placeholder="Description" required />
                </label>

                <label>
                    Keywords
                    <input type="text" id="keywords" name="Keywords" placeholder="Keywords" required />
                </label>

                <label>
                    Slug
                    <input type="text" id="slug" name="Slug" placeholder="Slug" required />
                </label>

                <label>
                    Categories
                    <select id="categoryBox" name="ParentId" required>
                        <option value="" selected>Select a category</option>
                        @foreach (PageLink category in Model.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                </label>

                <label>
                    Name
                    <input type="text" id="name" name="Name" placeholder="Name" required />
                </label>
                
                <input type="hidden" id="isDraft" name="IsDraft" value="false" />

                <label>
                    Post is draft
                    <input type="checkbox" id="isDraftInput" />
                </label>

                <input type="hidden" id="body" name="Body" />

                <input type="hidden" id="id" name="Id" />

                <button type="submit">Save Draft</button>
            </form>
        </aside>
    </div>
}